---
import BaseLayout from '@layouts/BaseLayout.astro';
const pageTitle = '私について';
---

<BaseLayout pageTitle={pageTitle}>
  <h2>
    日本語を勉強する中で、内容によって、練習の形で自己紹介をいたします。
  </h2>
  <p class="text">こんにちは、私の名前は「huyikai」です。</p>
  <p class="roman">konnichiwa, watashi no namae wa huyikai desu.</p>
  <p class="text">年齢は31歳で、職業はソフトウェアエンジニアです。</p>
  <p class="roman">nenrei wa 31-sai de、shokugyō wa sofutowea enjinia desu.</p>
  <p class="text">趣味はプログラミング、スポーツ、写真撮影、旅行などです。</p>
  <p class="roman">
    shumi wa puroguramingu, supōtsu, shashin satsuei, ryokō nado desu.
  </p>
  <p class="text">宜しくお願いします。</p>
  <p class="roman">yoroshiku onegai shimasu.</p>
</BaseLayout>
<style>
  .text {
    font-size: 20px;
  }
</style>
