---
import BaseLayout from '@layouts/BaseLayout.astro';
const pageTitle = '私について';
---

<BaseLayout pageTitle={pageTitle}>
  <h2>
    日本語を勉強する過程で、私は学習の内容によって、次第にこの自己紹介を充実させます。
  </h2>
  <p class="text">こんにちは、私の名前は「huyikai」です。</p>
  <p class="roman">Konnichiwa, watashi no namae wa huyikai desu.</p>
  <p class="text">職業はソフトウェアエンジニアです。</p>
  <p class="roman">shokugyō wa sofutowea enjinia desu.</p>
  <p class="text">趣味はプログラミング、スポーツ、写真撮影、旅行などです。</p>
  <p class="roman">
    Shumi wa puroguramingu, supōtsu, shashin satsuei, ryokō nado desu.
  </p>
  <p class="text">宜しくお願いします。</p>
  <p class="roman">Yoroshiku onegai shimasu.</p>
</BaseLayout>
<style>
  .text {
    font-size: 20px;
  }
</style>
