---
import { getCollection } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import TagItem from '@components/TagItem.astro';
const pageTitle = '日次レコード';
const allWords = (await getCollection('words')).sort((a, b) => {
  const dateA = a.data.pubDate ? new Date(a.data.pubDate).getTime() : 0;
  const dateB = b.data.pubDate ? new Date(b.data.pubDate).getTime() : 0;
  return dateA - dateB;
});

const generateDateRange = (start: string, end: string) => {
  const startDate = new Date(start);
  const endDate = new Date(end);
  const dates = [];

  while (startDate <= endDate) {
    dates.push(startDate.toISOString().split('T')[0]);
    startDate.setDate(startDate.getDate() + 1);
  }

  return dates;
};

const dates = generateDateRange('2024-06-21', '2024-08-31');
---

<BaseLayout pageTitle={pageTitle}>
  <h2>日次レコード</h2>
  {
    dates.map((date) => (
      <>
        <h3>
          日付：{date}&nbsp;&nbsp;&nbsp;&nbsp;数量:
          {
            allWords.filter(
              (item) =>
                new Date(item.data.pubDate).toISOString().split('T')[0] === date
            ).length
          }
        </h3>
        <div class="tags">
          {allWords
            .filter(
              (item) =>
                new Date(item.data.pubDate).toISOString().split('T')[0] === date
            )
            .map((item, index) => (
              <div {...{ key: index }}>
                <TagItem
                  title={item.data.title}
                  url={`words/${item.slug}`}
                />
              </div>
            ))}
        </div>
      </>
    ))
  }
</BaseLayout>
<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
</style>
