---
import BaseLayout from '@layouts/BaseLayout.astro';
const pageTitle = '質問';
---

<BaseLayout pageTitle={pageTitle}>
  <h2>日本語勉強の中で、知りたい事や問題や疑問など。</h2>
  <p class="question">私の名前、日本語で何ですか？</p>
  <p class="roman">Watashi no nihonmei wa nan desu ka?</p>
  <p class="answer">「」です(と申します)。</p>
</BaseLayout>
<style>
  .question {
    font-size: 20px;
  }
</style>
