---
const { order, title, data } = Astro.props;
---

{
  title !== false && title !== undefined ? (
    <h5>{typeof title === 'string' ? title : '示例'}</h5>
  ) : null
}
{
  order ? (
    <ol>
      {data.map((item: string) => (
        <li>{item}</li>
      ))}
    </ol>
  ) : (
    <ul>
      {data.map((item: string) => (
        <li>{item}</li>
      ))}
    </ul>
  )
}

<style></style>
