---
const { title, url } = Astro.props;
const baseUrl = import.meta.env.BASE_URL;
---

<li><a class="post-title" href={`${baseUrl}${url}`}>{title}</a></li>


<style>
.post-title{
    text-decoration: none;
}
</style>