---
import { getCollection } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import TagItem from '@components/TagItem.astro';
import PostComponent from '@components/Post.astro';
const pageTitle = '単語';
const allWords = await getCollection('words');
---

<BaseLayout pageTitle={pageTitle}>
  <h2>单词列表</h2>
  <p>总数：{allWords.length}</p>
  <div class="tags">
    {
      allWords.map((item) => (
        <TagItem
          title={item.data.title}
          url={`words/${item.slug}`}
        />
      ))
    }
  </div>
</BaseLayout>
<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
</style>
