---
import { getCollection } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import PostComponent from '@components/Post.astro';
const pageTitle = '単語';
const allWords = await getCollection('words');
---

<BaseLayout pageTitle={pageTitle}>
  <h2>单词列表</h2>
  <div>总数：{allWords.length}</div>
  <ul>
    {
      allWords.map((item: any) => (
        <PostComponent
          url={`words/${item.slug}`}
          title={item.data.title}
        />
      ))
    }
  </ul>
</BaseLayout>
<style></style>
